node_modules/
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
server/data/seed.json
server/data/initial-passwords.txt
server/data/_logo.json
*.log
.DS_Store

# локальные вспомогательные файлы, не для сервера
/erfis-portal.html
/data.json
/assets/
/RESUME.md
/id_rsa
/id_rsa.pub

server/data/_*.txt
server/data/_*.json
